/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
**/.mvn
### **/test
/spring-demo/webcrawler/target/classes/application.yml
/spring-demo/webcrawler/target/classes/templates/html/index.html
/spring-demo/webcrawler/target/classes/templates/html/spiderResult.html
/jdk-study/target/classes/com/janloong/javabase/initing/utils/Animal.class
*/target