<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <!--<setting name="autoMappingBehavior" value="PARTIAL"/>-->
        <setting name="defaultExecutorType" value="SIMPLE"/><!-- SIMPLE REUSE BATCH -->
        <!-- <setting name="defaultExecutorType" value="BATCH" /> -->
        <setting name="defaultStatementTimeout" value="25000"/>
        <!--<setting name="safeRowBoundsEnabled" value="false"/>-->
        <!--<setting name="mapUnderscoreToCamelCase" value="false"/>-->
        <!--<setting name="localCacheScope" value="SESSION"/>-->
        <!-- <setting name="jdbcTypeForNull" value="OTHER" /> -->
        <!--<setting name="jdbcTypeForNull" value="NULL"/>-->
        <!--<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>-->
    </settings>
    <typeAliases>

    </typeAliases>

    <!--<typeHandlers>-->
    <!--<typeHandler handler="com.bingdg.dao.utils.orm.mybatis.SerializableTypeHandler"/>-->
    <!--</typeHandlers>-->

    <!--<plugins>-->
        <!--<plugin interceptor="com.gd.gdpc.basic.mybatis.StatementHandlerInterceptor">-->
            <!--&lt;!&ndash;<property name="prop1" value="prop1"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<property name="prop2" value="prop2"/>&ndash;&gt;-->
        <!--</plugin>-->
        <!--<plugin interceptor="com.gd.gdpc.basic.mybatis.ResultSetHandlerInterceptor">-->
            <!--&lt;!&ndash;<property name="prop1" value="prop1"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<property name="prop2" value="prop2"/>&ndash;&gt;-->
        <!--</plugin>-->
        <!--&lt;!&ndash;分页插件拦截器&ndash;&gt;-->
        <!--<plugin interceptor="com.github.pagehelper.PageInterceptor">-->
        <!--<property name="helperDialect" value="mysql"/>-->
        <!--<property name="reasonable" value="true"/>-->
        <!--<property name="pageSizeZero" value="true"/>-->
        <!--&lt;!&ndash;<property name="supportMethodsArguments" value="true"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name=" params=count" value="countSql"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="params" value="pageNum=page;pageSize=rows;"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="autoRuntimeDialect" value="true"/>&ndash;&gt;-->
        <!--</plugin>-->
    <!--</plugins>-->
</configuration>
